{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-4">    
    <form method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-3"></div>
        {% csrf_token %}
        <div class="col-6">
          <h3 class="mb-3">{{ title }}</h3>
          <div class="card p-4">
            {{ form.as_p }}
            <div class="modal-footer flex-nowrap gap-1 p-0">
              <button class="btn btn-danger w-100 m-0" type="submit">
                {% if object %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
              {% if object %}
                <a class="btn btn-warning w-100 m-0" href="{% url "blog:detail" object.pk %}">Назад</a>
              {% else %}
                <a class="btn btn-warning w-100 m-0" href="{% url "catalog:index" %}">Назад</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </form>
  </div>
{% endblock %}
