{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <h3 class="mb-3 text-center">Успешно</h3>
          <div class="card p-4">
            <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

            <a href="{% url "users:login" %}" class="btn btn-danger form-control m-0">Вход</a>
          </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
