{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="icon" href="{% static 'src/img/favicon.png' %}" />
    <link href="{% static 'src/css/bootstrap.css' %}" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1">
            
      {% include "includes/main_menu.html" %}

      <content>
        {% block content %}

        {% endblock %}
      </content>
    </div>

    <footer class="footer text-center text-body-secondary">
      <div class="container p-2" style="background-color: #e3f2fd;">
        <ul class="nav justify-content-center border-bottom pb-3 mb-2">
          <li class="nav-item">
            <a href="{% url 'catalog:index' %}" class="nav-link px-2 text-body-secondary">Главная</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'catalog:contacts' %}" class="nav-link px-2 text-body-secondary">Контакты</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Что-то еще</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Что-то еще</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Что-то еще</a>
          </li>
        </ul>
        <p class="text-center text-body-secondary">
          &copy; 2024 -{% now 'Y' %} Аптека-лека
        </p>
      </div>
    </footer>

    {% block footer %}

    {% endblock %}

    <script src="{% static 'src/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'src/js/popper.min.js' %}"></script>
    <script src="{% static 'src/js/bootstrap.min.js' %}"></script>
  </body>
</html>
