{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="icon" href="{% static 'src/img/favicon.png' %}" />
    <link href="{% static 'src/css/bootstrap.css' %}" rel="stylesheet" />
  </head>
  <body class="min-vh-100">
    <nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'catalog:index' %}">
          <img src="{% static 'src/img/favicon.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" />
          АПТЕКА-ЛЕКА
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'catalog:index' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/contacts/' %}active{% endif %}" href="{% url 'catalog:contacts' %}">Контакты</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/blog/' %}active{% endif %}" href="{% url 'blog:list' %}">Блог</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/create/' %}active{% endif %}" href="{% url 'catalog:create' %}">Добавить товар</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/blog/create/' %}active{% endif %}" href="{% url 'blog:create' %}">Добавить статью</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div class="wrapper flex-grow-1"></div>
    <div class="container" style="background-color: #e3f2fd;">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-2">
          <li class="nav-item">
            <a href="{% url 'catalog:index' %}" class="nav-link px-2 text-body-secondary">Главная</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'catalog:contacts' %}" class="nav-link px-2 text-body-secondary">Контакты</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Что-то еще</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Что-то еще</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Что-то еще</a>
          </li>
        </ul>
        <p class="text-center text-body-secondary">
          &copy; 2024 -{% now 'Y' %} Аптека-лека
        </p>
      </footer>
    </div>

    {% block footer %}{% endblock  %}

    <script src="{% static 'src/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'src/js/popper.min.js' %}"></script>
    <script src="{% static 'src/js/bootstrap.min.js' %}"></script>    
  </body>
</html>
