{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">    
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card text-center">
                <h1 class="card-header">Контакты</h1>
                {% for contact in contacts %}
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Адрес</td>
                            <td>{{ contact.address }}</td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td>{{ contact.phone }}</td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>{{ contact.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-5">
            <div class="card text-center">
                <h1 class="card-header">Обратная связь</h1>
                <div class="card-body">
                    <form action="{% url "catalog:contacts" %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="id-text" placeholder="Ваше имя" name="name">
                                <label for="id-text">Имя</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="id-email" placeholder="Ваш email" name="email">
                                <label for="id-email">email</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Напишите текст сообщения" id="id-text" style="height: 100px" name="text"></textarea>
                                <label for="id-text">Сообщение</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}