{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <form class="mt-4" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3 class="mb-3 text-center">{{ title }}</h3>
      <div class="mb-3">
        <label for="category" class="form-label">Категория</label>
        <select name="category" class="form-select" id="category" aria-label="Default select example" required>
          <option disabled selected value>Выберите категорию</option>
          {% for category in categories %}          
            <option
              {% if category.pk == object.category_id %}
                selected
              {% endif %}
            value="{{ category.pk }}">{{ category }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Наименование</label>
        <input name="name" type="text" class="form-control" id="name"
        {% if object %}value="{{ object.name }}"{% endif %}
        required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea name="description" class="form-control" id="description" rows="5">{% if object %}{{object.description}}{% endif %}</textarea>        
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Цена (руб)</label>
        <input name="price" type="number" class="form-control" id="price" max="2147483647"
        {% if object %}value={{object.price}}{% endif %}
        required>        
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Изображение</label>
        {% if object and object.image %}
        <div class="container d-flex justify-content-center">
          <div class="mb-3" style="width: 100px;">
            <img src="{{ product.image|media_filter }}" class="card-img-top">
          </div>
        </div>
        {% endif %}
        <input name="image" class="form-control" id="image" type="file">
      </div>      
      <button class="btn btn-danger mb-3 w-100" type="submit">
        {% if object %}
        Сохранить
        {% else %}
        Добавить
        {% endif %}
      </button>
    </form>
  </div>
{% endblock %}
