{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
  <div class="container mb-4">

    <div class="row mt-4">
        <div class="col-12">
            <h2 class="display-5">{{ object.name }}</h2>
        </div>
    </div>

    <div class="row mt-4">
      <div class="col-4">        
          <img src="{% if object.image %}{{ object.image|media_filter }}{% endif %}" class="card-img-top" alt="{{ object.name }}" />        
      </div>

      <div class="col-8 mb-4">
        <p class="lead">Категория: {{ object.category }}</p>
        <p class="lead">Описание: {{ object.description }}</p>        
        <p class="lead">Владелец: {% if object.owner %}{{ object.owner.get_full_name }}{% else %}бесхозный{% endif %}</p>
        <p class="lead">Цена: <strong>{{ object.price }}</strong> руб.</p>
        <a href="{% url 'catalog:index' %}" class="btn btn-success">Назад</a>
        {% if object.owner == user or perms.catalog.cancel_product_is_publish %}
        <a href="{% url 'catalog:update' object.pk %}" class="btn btn-primary">Редактировать</a>
        {% endif %}
        {% if object.owner == user or user.is_superuser %}
        <a href="{% url "catalog:version-create" object.pk %}" class="btn btn-primary">Добавить версию</a>
        <a href="{% url 'catalog:delete' object.pk %}" class="btn btn-danger">Удалить</a>        
        {% endif %}
      </div>
    </div>

    {% if versions %}
    <table class="table {% if user.is_authenticated %}table-hover{% endif %}">
      <thead>
        <tr>
          <th scope="col">Версия</th>
          <th scope="col">Название версии</th>
        </tr>
      </thead>
      <tbody>
        {% for version in versions %}
        <tr class="{% if version.is_current %}table-success{% endif %}">
          <td>
            <div class="d-flex position-relative">{{ version.number }}{% if version.is_current %} (текущая){% endif %}
              {% if object.owner == user %}
              <a href="{% url "catalog:version-update" version.pk %}" class="stretched-link"></a>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="d-flex position-relative">{{ version.name }}
              {% if object.owner == user %}
              <a href="{% url "catalog:version-update" version.pk %}" class="stretched-link"></a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock %}


{% block footer %}
<script src="{% static 'src/js/autoform.js' %}"></script>
{% endblock  %}